<head>
	<link href= "/public/assets/css/game-style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<button onclick="location.href='/'" type="button" class="btn-back">
			&#8249; Home
		</button>
		<% if (player == 0) { %>
			<h1 class="message-text">Player O</h1>
		<% } else if (player == 1) { %>
			<h1 class="message-text">Player X</h1>
		<% } %>
		<h1 class="message-text"> <%- message %> </h1>
		<table>
		<% for (let i = 0; i < board.length; i++) { %>
			<tr>
			<% for (let j = 0; j < board[i].length; j++) { %>
				<td>
					<button 
						onclick="location.href='../move/?game=<%-game%>&i=<%-i%>&j=<%-j%>&player=<%-player%>'" 
						type="button" style="background-color: <%- boardColor %>;" class="board-tile">
						
						<span style="font-size: 50px;">
							<% if (board[i][j] == 0) { %>
								<img src="../public/assets/img/o-img.png" alt="O" >
							<% } else if (board[i][j] == 1) { %>
								<img src="../public/assets/img/x-img.png" alt="X" >
							<% } %>
						</span>
					</button>
				</td>
			<% } %>
			</tr>
		<% } %>
		</table>
	</div>
</body>

<script>
    setInterval(() => window.location.reload(), 2000);
</script>